<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="autor" content="Renato Illescas, Lenin Tenecela"><meta name="description" content="Sitio web de venta de vestidos por catalogo para mujeres">
	<meta name="keywords" content="vestidos, mujeres, prendas, gala">
	<!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- FONTS AWESONE  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- GOOGLE FONTS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab">
  <!-- BOOTSTRAP SOCIAL NETWORKS -->
  <link rel="stylesheet" href="../css/bootstrap-social.css">
  <!-- ESTILO DE LA PAGINA -->
  <link rel="stylesheet" href="../css/estilo.css">
  <title>Pagina de Registro</title>
</head>
<body>
  <!-- Cabecera y menus navegacion-->
  <header class="container">
		<section class="container row">
			<figure class="col-xs-12 col-sm-2 col-md-2">
        <a href="index.html">
				  <img class="logo img-responsive" src="../img/logo2.jpg" alt="logoweb"/>
        </a>
 		 </figure>
  		<nav class="navbar menuSesion col-xs-12 col-sm-10 col-md-10 ">
				<div class="container-fluid nav navbar-nav navbar-right haber">
          <a id="registro" href="registro.html"><span class="glyphicon glyphicon-list-alt"></span> Registrate</a>
					<a id="iniciosesion" href="iniciosesion.html"><span class="glyphicon glyphicon-user"></span> Iniciar Sesion</a>
					<a id="carrito" href="micarrito.html"><span class="glyphicon glyphicon-shopping-cart"></span> Mi Carrito</a>
				</div>
			</nav>
		</section>
		<nav class="navbar navbar-inverse menuClientes row">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
	    	    <span class="icon-bar"></span>
  		      <span class="icon-bar"></span>
      		</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav menuNavegacion">
            <li><a href="index.html">Inicio</a></li>
						<li><a href="catalogo.html">Catalogo</a></li>
						<li><a href="tiendas.html">Tiendas</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
  <!-- seccion de cambio para contenido de la pagina-->
	<section id="variante" class="container">
    <div id="cuerpo" class="row">
    <!-- FORMULARIO -->
    <div class="container row">
      <h3>INICIO DE SESION</h3>
      <form class="form-horizontal" action="#" name="iniciosesion" method="get" autocomplete="on">

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-2 control-label" for="email">Correo:</label>
          <div class="col-sm-4">
            <input class="form-control" type="email" id="email" autocomplete="email" placeholder="correo@electronico.com" required="required">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-2 control-label" for="clave">Clave:</label>
          <div class="col-sm-4">
            <input class="form-control" type="password" id="clave" required="required">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-7">
            <button type="submit" class="btn btn-danger btn-lg" formaction="index.html">Enviar</button>
          </div>
        </div>

      </form>
    </div>

  </section>
  <!-- Informativa -->
  <section class="container informacion">
		<div class="row">
      <section class="mails col-xs-12 col-sm-6 col-md-6">
        <form><span class="glyphicon glyphicon-envelope"></span> NOTICIAS: <input type="email" name="email"  required="required">
          <input type="submit">
        </form>
  		</section>
  		<section class="redesSociales col-xs-12 col-sm-6 col-md-6">
        <h2>Redes Sociales</h2>
  			<ul>
  				<li class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></li>
  				<li class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></li>
  				<li class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></li>
  				<li class="btn btn-social-icon btn-pinterest"><span class="fa fa-pinterest"></span></li>
  			</ul>
  		</section>
  	</div>
  </section>
  <!-- Pie de pagina-->
  <footer class="container">
  	<nav class="menuEmpresa">
  		<a href="#">La Empresa -</a>
  		<a href="#"> Mision -</a>
  		<a href="#"> Vision</a>
      <a id="administracion" href="graficoD3.html"><span class="glyphicon glyphicon-eye-open"></span> Administracion</a>
		</nav>
		<h4 id="derechos"><span class="glyphicon glyphicon-copyright-mark"> Derechos Reservados</span></h4>
  </footer>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- BOOTSTRAP -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
