<!-- FORMULARIO -->
<div class="row">
  <h3>PARA INICIO DE SESION</h3>
  </form action="#" name="datosregistro" method="get" autocomplete="on">
    <label class="col-xs-12 col-sm-3 col-md-3" for="email">Correo:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="email" id="email" autocomplete="email" placeholder="correo@electronico.com" required="required"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="clave">Clave:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="password" id="confirmarclave" autocomplete="on" placeholder="" required="required"><br><br>
    <input type="submit" value="Entrar">
  </form>
</div>
