<!DOCTYPE html>
<html lang="es">
<head>
	<title>Proyecto</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="autor" content="Renato Illescas, Lenin Tenecela">
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- FONTS AWESONE  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- GOOGLE FONTS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab">
	<!-- BOOTSTRAP SOCIAL NETWORKS -->
	<link rel="stylesheet" href="../css/bootstrap-social.css">
	<!-- ESTILO DE LA PAGINA -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- Cabecera y menus navegacion-->
	<header class="container">
		<section class="container row">
			<figure class="col-xs-12 col-sm-2 col-md-2">
				<a href="index.html">
					<img class="logo img-responsive" src="../image/logo2.jpg" alt="logoweb"/>
				</a>
			</figure>
			<nav class="navbar menuSesion col-xs-12 col-sm-10 col-md-10 ">
				<div class="container-fluid nav navbar-nav navbar-right">
					<a id="registro" href="sesion.html">Registro</a>
					<a id="iniciosesion" href="sesion.html">Iniciar Sesion</a>
					<a id="carrito" href="sesion.html">Mi Carrito</a>
				</div>
			</nav>
		</section>
		<nav class="navbar navbar-inverse menuClientes row">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
	    	    <span class="icon-bar"></span>
  		      <span class="icon-bar"></span>
      		</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav menuNavegacion">
						<li><a href="index.html">Incio</a></li>
						<li><a href="coleccion.html">Coleccion</a></li>
				  	<li><a href="#">Promociones</a></li>
						<li><a href="#">Saldo</a></li>
						<li><a href="locales.html">Locales</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- seccion variante-->
	<section id="variante" class="container">
		<div id="cuerpo" class="row">
			<nav class="menuColeccion hidden-xs hidden-sm col-md-2 col-lg-2">
				<ul class="nav nav-list">
					<li><label class="tree-toggle nav-header marcas">MARCA 1</label>
						<ul class="nav nav-list tree despliegeMarcas">
							<li><a href="#">submarca1</a></li>
							<li><a href="#">submarca2</a></li>
							<li><a href="#">submarca3</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<section class="contenidoColeccion col-md-10 col-lg-10">
					<!-- Escribir con javascript-->
					<div id="compras" class="row">

						<div class="col-sm-12 col-md-8">
							<figure>
								<img class="imagenVestido" src="../image/coleccion/vm2.jpg" alt="imagen"/>
							</figure>
						</div>
						<div class="col-sm-12 col-md-3">
							<div class="datosVestido">
								<h3>nombre del vestido</h3>
								<p class="costo">costo</p>
								<p>descripcion</p>
								<div class="row">

									<form action="" method="get">
										<div class="labels col-sm-4 col-lg-4">
											<label class="" for="producto">Talla: </label>
											<label class="" for="cantidad">Cantidad:</label>
										</div>

										<div class="inputs col-sm-4 col-lg-4">
											<input id="producto" list="tallas" name="misProductos" placeholder="elegir" size="8">
												<datalist id="tallas">
													<option value="XL">XL</option>
									        <option value="L">L</option>
									        <option value="M">M</option>
									        <option value="S">S</option>
				  	  				  </datalist>
											<input type="number" size="2" value="1" min="1" step="1" max="100" id="cantidad">
										</div>

										<div class="inputs">
											<input type="submit" value="Anadir al carrito">
										</div>
									</form>

								</div>
							</div>
						</div>

					</div>
				</section>
		</div>
	</section>
	<!-- seccion informacion y Redes Sociales-->
	<section class="container informacion">
		<div class="row">
			<section class="mails col-xs-12 col-sm-6 col-md-6">
			<form>NEWSLETTER: <input type="email" name="email">
				<input type="submit">
			</form>
		</section>
			<section class="redesSociales col-xs-12 col-sm-6 col-md-6">
			<h2>Redes Sociales</h2>
			<ul>
				<li class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></li>
				<li class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></li>
				<li class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></li>
				<li class="btn btn-social-icon btn-pinterest"><span class="fa fa-pinterest"></span></li>
			</ul>
		</section>
		</div>
	</section>
	<!-- Pie de pagina-->
	<footer class="container">
		<nav class="menuEmpresa">
			<a href="#">La empresa</a>
			<a href="#">Mision</a>
			<a href="#">Vision</a>
			<a href="#">Bolsas de trabajo</a>
		</nav>
	</footer>
	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Mi JQuery
  <script src="../js/catalogo.js"></script>-->
</body>
</html>
