<!-- FORMULARIO -->
<div class="row">
  <h3>INFORMACION PERSONAL</h3>
  <form action="#" id="datosregistro" name="datosregistro" method="get" autocomplete="on">
    <label class="col-xs-12 col-sm-3 col-md-3" for="nombres">Nombres:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="text" id="nombres" autocomplete="on" placeholder="Nombres completos"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="apellidos">Apellidos:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="text" id="apellidos" autocomplete="on" placeholder="Apellidos completos"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="telefono">Telefono domicilio:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="text" id="telefono" autocomplete="on" placeholder="(00)222-2222"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="celular">Telefono celular:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="text" id="celular" autocomplete="on" placeholder="(09)99999999"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="direccion">Direccion Domiciliaria</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="text" id="direccion" autocomplete="on" placeholder="direccion mz. v."><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="fecha">Fecha de Nacimiento:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="date" id="fecha"><br><br>

    <h3>PARA INICIO DE SESION</h3>
    <label class="col-xs-12 col-sm-3 col-md-3" for="email">Correo:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="email" id="email" autocomplete="email" placeholder="correo@electronico.com" required="required"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="clave">Clave:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="password" id="clave" autocomplete="on" placeholder="" required="required"><br><br>
    <label class="col-xs-12 col-sm-3 col-md-3" for="confirmarclave">Confirmar clave:</label>
    <input class="col-xs-12 col-sm-3 col-md-3" type="password" id="confirmarclave" autocomplete="on" placeholder="" required="required"><br><br>
    <input type="submit" value="Enviar">
  </form>
</div>
