extends base

block styles

  // BOOTSTRAP
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  // FONTS AWESONE
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  // GOOGLE FONTS
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Slab')

  // BOOTSTRAP SOCIAL NETWORKS
  link(rel='stylesheet' href='/stylesheets/bootstrap-social.css')

  // ESTILO DE LA PAGINA
  link(rel='stylesheet' href='/stylesheets/estilo.css')

block content

  // seccion de cambio para contenido de la pagina
  section#variante.container
    div#cuerpo.row

      // FORMULARIO
      div.container.row
        h3 INICIO DE SESION
        form(action='action', method='post').form-horizontal
          div.form-group
            label(for='email').col-sm-offset-1.col-sm-2.control-label Correo
            div.col-sm-4
              input(name='correo', type='email', autocomplete='on', placeholder='correo@electronico.com', required='required').form-control

          div.form-group
            label(for='clave').col-sm-offset-1.col-sm-2.control-label Contraseña
            div.col-sm-4
              input(name='clave', type='password', autocomplete='on', required='required').form-control

          div.form-group
            div.col-sm-offset-5.col-sm-7
              button(type='submit').btn.btn-danger.btn-lg Enviar

  // Infarmativa
  section.container.informacion
    div.row
      section.mails.col-xs-12.col-sm-6.col-md-6
        form
          span.glyphicon.glyphicon-envelope
          NOTICIAS

          input(type='email', name='email', required='required')
          input(type='submit')
      section.redesSociales.col-xs-12.col-sm-6.col-md-6
        h2 Redes Sociales
        ul
          li.btn.btn-social-icon.btn-facebook
            span.fa.fa-facebook
          li.btn.btn-social-icon.btn-facebook
            span.fa.fa-instagram
          li.btn.btn-social-icon.btn-facebook
            span.fa.fa-twitter
          li.btn.btn-social-icon.btn-facebook
            span.fa.fa-pinterest


block javascript
  // JQUERY
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  // BOOTSTRAP
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
